<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashingqi.module.pay">

    <application>
        <activity android:name=".modules.PayTestActivity"/>
        <activity
            android:name="com.dashingqi.mvvmcomponent.wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop" />
    </application>

</manifest>