<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashingqi.module.user">

    <application>
        <activity android:name=".other.bitmap.BitmapTestActivity"></activity>
        <activity android:name=".modules.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".other.tablayout.UserTabLayoutTestActivity" />
    </application>

</manifest>