<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashingqi.module.home">

    <application>
        <activity android:name=".modules.search.HomeSearchActivity"></activity>
        <activity android:name=".modules.main.HomeTestActivity" />
        <activity android:name=".modules.main.HomeMainActivity"></activity>
    </application>

</manifest>