<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashingqi.module.widget">

    <application>
        <activity
            android:name=".animation.PictureTranslateActivityB"
            android:theme="@style/base_transparent"></activity>
        <activity android:name=".animation.PictureTranslateActivityA" />
        <activity android:name=".material.WidgetImitateExFreshActivity" />
        <activity android:name=".BottomSheetDialog.WidgetBottomSheetDialogActivity" />
        <activity android:name=".material.WidgetMaterialActivity" />
    </application>

</manifest>