<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dashingqi.module.widget">

    <application>
        <activity android:name=".dialog.BoxDialogActivity"></activity>
        <activity android:name=".dialog.BottomDialogActivity" />
        <activity android:name=".dialog.LoadingDialogActivity" />
        <activity android:name=".ddmc.detail.DdmcProductDetailActivity" />
        <activity android:name=".rvtab.WidgetRvFlingActivity" />
        <activity android:name=".tiktok.TikTokSnapHelperActivity" />
        <activity android:name=".openeye.WidgetOpenEyeActivity" />
        <activity android:name=".rvtab.WidgetRvTabActivity" />
        <activity android:name=".customview.circleprogress.CircleProgressActivity" />
        <activity android:name=".customview.battery.BatteryActivity" />
        <activity android:name=".dialog.WidgetLogisticsActivity" />
        <activity android:name=".material.WidgetCoorBottomActivity" />
        <activity android:name=".select.WidgetLetterViewActivity" />
        <activity
            android:name=".animation.PictureTranslateActivityB"
            android:theme="@style/base_transparent" />
        <activity android:name=".animation.PictureTranslateActivityA" />
        <activity android:name=".material.WidgetImitateExFreshActivity" />
        <activity android:name=".BottomSheetDialog.WidgetBottomSheetDialogActivity" />
        <activity android:name=".material.WidgetMaterialActivity" />
    </application>

</manifest>